- if show_promotions? && show_callout?('promote_mr_features_dismissed') && !@project.feature_available?(:merge_request_approvers)
  .user-callout.promotion-callout.append-bottom-20.js-mr-approval-callout#promote_mr_features{ data: { uid: 'promote_mr_features_dismissed' } }
    .bordered-box.content-block
      %button.gl-button.btn.btn-default-tertiary.close.js-close-callout{ type: 'button', 'aria-label' => _('Dismiss merge request promotion') }
        = sprite_icon('close', size: 16, css_class: 'dismiss-icon')
      .user-callout-copy
        %h4
          - if Gitlab::CurrentSettings.should_check_namespace_plan?
            = s_('Promotions|Upgrade your plan to improve merge requests.')
          - else
            = s_('Promotions|Improve merge requests and customer support with GitLab Enterprise Edition.')
        %ul
          - unless @project.feature_available?(:merge_request_approvers)
            %li
              = link_to s_('Promotions|Merge request approvals'), help_page_path('user/project/merge_requests/merge_request_approvals.md'), target: '_blank'
              %p
                = s_('Promotions|Set the number of necessary approvals and define a list of approvers needed for every merge request in a project.')

        = render 'shared/promotions/promotion_link_project', location: :mr_features
